<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Surfs Up!</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <span style="font-weight:bold;font-size:x-large;"> Welcome to the Climate Analysis API! </span> <br> <br> 
    Available Routes: <br> 
    /api/v1.0/precipitation <br> 
    /api/v1.0/stations <br> 
    /api/v1.0/tobs <br> 
    /api/v1.0/temp/start/end <br> 
  </body>
</html>


